:root {
  --clr-primary: rgb(167, 101, 69);
  --clr-secondary: rgb(255, 165, 93);
  --clr-secondary2: rgb(255, 223, 136);
  --clr-secondary3: rgb(172, 197, 114);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*
  Style
*/

.wrapper {
  width: 90%;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}

/*
  Filter
*/

.aside {
  /* background-color: var(--clr-secondary); */
  /* box-shadow: 0px 0px 32px rgba(255, 165, 93, 0.5); */
  /* border-radius: 1.5rem; */

  /* padding: 1.5rem; */

  /* align-self: flex-start; */

  border: 1px solid black;
}


/*
  Foods
*/

.main-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.food-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  height: 90vh;
  width: 100%;
  overflow: scroll;

  border: 1px solid black;

  padding: 2rem;
}

.food-cards>a {
  text-decoration: none;
  color: black;
}

.card {
  /* border: 1px solid black; */
  /* box-shadow: 0px 0px 32px rgb(255, 223, 136, 0.5); */
  /* border-radius: 1rem; */
  /* overflow: hidden; */

  border: 1px solid black;
}